# Overview - [Preppin' Data Challenge 2023: Week 17 - Population Growth vs Country Size](https://preppindata.blogspot.com/2023/04/2023-week-17-population-growth-vs.html)

In this project we will be practicing cleaning and preparing data for analysis in Python.

**Challenge Level: Advanced**

We will be using the dataset linked in the title from the blog Preppin' Data, and will look to satisfy the following requirements per its instructions:

### Requirements
- Input the data
- Population data:
    - Use the data interpreter to ensure the headers are read as headers 
    - Remove unnecessary fields
    - Trim leading & trailing spaces from country names
    - Use the Country/Region data role to tidy up country names
    - Pivot data so we have 3 columns for year, population and country name
- Country size data: 
    - Split the Land in km2 (mi2) field to get the values for land size in km2 only 
    - Remove unnecessary fields - we only want country and land size km2
    - Clean country names and trim any trailing spaces
    - Use the Country/Region data role to tidy up country names
    - Group together Jersey and Guernsey to make the Channel Islands
- Join the two datasets so that any country names/regions that aren’t in both datasets are excluded
    - 36 countries from the country size file will not be included
- Exclude ‘World’ from the dataset
- Calculate the population density
- We want to be able to select which years to compare in order to work out population growth, i.e. what was the population growth from Year A to Year B. To do this, we need to create two parameters:
    - One for the more recent year (You don’t need to enter every year in the dataset, just give a few examples including 2021)
    - One for the less recent year (Again, don’t include every year, just a few examples including 2000)
- Set the parameters to 2000 and 2021
- Filter to just these 2 years and have the population density for each year as 2 fields in the dataset for each country (215 rows in total)
- Calculate the % change in population density between the two years
- Create a rank for % change in population density so that the country with the greatest change ranks 1
- Create another rank for total population density in 2021, so that the country with the highest density ranks 1
- Find the top 10 ranking countries for population density 2021
    - Output the data
- Find the top 10 ranking countries for change in population density 2000-2021
    - Output the data

# Project Code

## Import Necessary Packages for Project

We will be importing the following packages/modules for the following reasons
- **Pandas:** allows us to create/format/clean our dataset for easy analysis
- **Numpy:** helps us identify and clean records with null values
<!-- - ~~**OS:**~~ -->
- **re:** helps us identify/cleanse records by specifying certain regex patterns

In [1]:
import pandas as pd
import numpy as np
import re

## Load Country Size DataFrame

In [2]:
#load dataset

#specify filepath variable in case file path needs to be changed
filepath = r"C:\Work\Projects\Python Projects\Preppin Data\2023 Week 17_Population Growth vs Country Size\drive-download-20230704T072535Z-001\country size.csv".replace("\\", "/")

#specify encoding to ensure that csv is read without errors 
df = pd.read_csv(filepath, encoding = "ISO-8859-1")

#preview dataframe
df.head(3)

,Rank,Country / Dependency,Total in km2 (mi2),Land in km2 (mi2),Water in km2 (mi2),% water
0,-,World,"510,072,000 (196,940,000)","148,940,000 (57,510,000)","361,132,000 (139,434,000)",70.8
1,1,Russia,"17,098,246 (6,601,670)","16,378,410 (6,323,740)","719,836 (277,930)",4.21
2,-,Antarctica,"14,200,000 (5,500,000)","14,200,000 (5,500,000)",0 (0),0

## Drop Unnecessary Columns from Country Size DataFrame

In [3]:
#create list of columns to reference when specifying which columns to drop and keep  
cols = list(df.columns)
cols

['Rank',
 'Country / Dependency',
 'Total in km2 (mi2)',
 'Land in km2 (mi2)',
 'Water in km2 (mi2)',
 '% water']

In [4]:
#create list of columns to keep using prior list of columns (shorter amount of columns)
keep_cols = cols[1:2] + cols[3:4]
keep_cols

['Country / Dependency', 'Land in km2 (mi2)']

In [5]:
#grab inverse of prior list to specify columns to delete
delete_cols = [x for x in cols if x not in keep_cols]
delete_cols

['Rank', 'Total in km2 (mi2)', 'Water in km2 (mi2)', '% water']

In [6]:
#drop unnecessary columns using prior list  
df.drop(columns=delete_cols, inplace=True)
#view current remaining columns
df.head(3)

  Country / Dependency         Land in km2 (mi2)
0                World  148,940,000 (57,510,000)
1               Russia    16,378,410 (6,323,740)
2           Antarctica    14,200,000 (5,500,000)

## Clean and Reformat Data: Country Size DataFrame
### Look for nulls in "Land in km2 (mi2)" column, convert "not determined" values to nulls

In [7]:
#look for exceptions that will trigger errors using regex 
#try two different criteria for matching regex to pull records in dataframe: a full match and a contain criteria

#show "Land in km2 (mi2)" DataFrame records that do not completely match the following: one or more ",", ".", digit characters, a space, left parentheses, one or more ",", ".", digit characters, right parentheses 
# df.loc[~df['Land in km2 (mi2)'].str.fullmatch("[.\d,]+[ ][(][.\d,]+[)]"), :]

#show "Land in km2 (mi2)" DataFrame records that do not contain the following: one or more ",", ".", digit characters, a space, left parentheses, one or more ",", ".", digit characters, right parentheses 
df.loc[~df['Land in km2 (mi2)'].str.contains("[.\d,]+[ ][(][.\d,]+[)]"), :]

                        Country / Dependency Land in km2 (mi2)
218   Akrotiri and Dhekelia (United Kingdom)    not determined
244                Saint Barthélemy (France)    not determined
245             Sint Eustatius (Netherlands)    not determined
247                       Saba (Netherlands)    not determined

In [8]:
#checking for nulls in "Land in km2 (mi2)" column
df.loc[df['Land in km2 (mi2)'].isnull(), :]

Empty DataFrame
Columns: [Country / Dependency, Land in km2 (mi2)]
Index: []

In [9]:
#replace "not determined" records with null (np.nan) values

#na=True parameter ensures that NaN values encountered are also selected in the boolean indexing 
df.loc[~df['Land in km2 (mi2)'].str.contains("[.\d,]+[ ][(][.\d,]+[)]", na=True), 'Land in km2 (mi2)'] = np.nan
#check for new null values, can cross check with prior isnull()
df.loc[df['Land in km2 (mi2)'].isnull(), :]

                        Country / Dependency Land in km2 (mi2)
218   Akrotiri and Dhekelia (United Kingdom)               NaN
244                Saint Barthélemy (France)               NaN
245             Sint Eustatius (Netherlands)               NaN
247                       Saba (Netherlands)               NaN

### Remove miles value in "Land in km2 (mi2)" column, Rename column

In [10]:
#drop miles value in "Land in km2 (mi2)" column and rename column to reflect new values 

df["Land in km2 (mi2)"] = df["Land in km2 (mi2)"].str.split(" ").str[0]
df.rename(columns={"Land in km2 (mi2)": "Land in km2"}, inplace=True)
print(df["Land in km2"].head(3))

0    148,940,000
1     16,378,410
2     14,200,000
Name: Land in km2, dtype: object

### Change "Land in km2" column data type

In [11]:
#double check data type of "Land in km2" column
df.dtypes

Country / Dependency    object
Land in km2             object
dtype: object

In [12]:
#get rid of commas in numeric column, strip whitespace, convert to numeric column data type
df["Land in km2"] = df["Land in km2"].str.replace(",", "").str.strip()
df["Land in km2"] = df["Land in km2"].astype(float)

#verify new data type of "Land in km2" column
df.dtypes

Country / Dependency     object
Land in km2             float64
dtype: object

### Clean/Format Country Column

In [13]:
#look at rows in country column to glance over values that might need cleaning

#look at all rows -- not recommended for large datasets
with pd.option_context('display.max_rows', None,):
   print(df["Country / Dependency"])
#look at some rows -- recommended for large datasets
# df["Country / Dependency"].head(30)

0                                                  World
1                                                 Russia
2                                             Antarctica
3                                         Canada[Note 1]
4                                                  China
5                                          United States
6                                                 Brazil
7                                              Australia
8                                                  India
9                                              Argentina
10                                            Kazakhstan
11                                               Algeria
12                                              DR Congo
13                       Danish Realm Kingdom of Denmark
14                                   Greenland (Denmark)
15                                          Saudi Arabia
16                                                Mexico
17                                             Indonesia
18                                                 Sudan
19                                                 Libya
20                                                  Iran
21                                              Mongolia
22                                                  Peru
23                                                  Chad
24                                                 Niger
25                                                Angola
26                                                  Mali
27                                          South Africa
28                                              Colombia
29                                              Ethiopia
30                                               Bolivia
31                                            Mauritania
32                                                 Egypt
33                                              Tanzania
34                                               Nigeria
35                                             Venezuela
36                                              Pakistan
37                                               Namibia
38                                            Mozambique
39                                                Turkey
40                                                 Chile
41                                                Zambia
42                                               Myanmar
43                                           Afghanistan
44                                           South Sudan
45                                                France
46                                               Somalia
47                              Central African Republic
48                                               Ukraine
49                                            Madagascar
50                                              Botswana
51                                                 Kenya
52                                                 Yemen
53                                              Thailand
54                                                 Spain
55                                          Turkmenistan
56                                              Cameroon
57                                      Papua New Guinea
58                                                Sweden
59                                            Uzbekistan
60                                               Morocco
61                                                  Iraq
62                                              Paraguay
63                                              Zimbabwe
64                                                Norway
65                                                 Japan
66                                               Germany
67                                                 Congo
68                                               Finland
69                                               Vietnam
70                                              Malaysia
71                                           Ivory Coast
72                                                Poland
73                                                  Oman
74                                                 Italy
75                                           Philippines
76                                               Ecuador
77                                          Burkina Faso
78                                           New Zealand
79                                                 Gabon
80                                        Western Sahara
81                                                Guinea
82                                        United Kingdom
83                                                Uganda
84                                                 Ghana
85                                               Romania
86                                                  Laos
87                                                Guyana
88                                               Belarus
89                                            Kyrgyzstan
90                                               Senegal
91                                                 Syria
92                                              Cambodia
93                                               Uruguay
94                                              Suriname
95                                               Tunisia
96                                            Bangladesh
97                                                 Nepal
98                                            Tajikistan
99                                                Greece
100                                            Nicaragua
101                                              Eritrea
102                                          North Korea
103                                               Malawi
104                                                Benin
105                                             Honduras
106                                              Liberia
107                                             Bulgaria
108                                                 Cuba
109                                            Guatemala
110                                              Iceland
111                                          South Korea
112                                              Hungary
113                                             Portugal
114                                               Jordan
115                                               Serbia
116                                           Azerbaijan
117                                              Austria
118                                 United Arab Emirates
119                                       Czech Republic
120                                               Panama
121                                         Sierra Leone
122                                              Ireland
123                                              Georgia
124                                            Sri Lanka
125                                            Lithuania
126                                               Latvia
127                                    Svalbard (Norway)
128                                                 Togo
129                                              Croatia
130                               Bosnia and Herzegovina
131                                           Costa Rica
132                                             Slovakia
133                                   Dominican Republic
134                                              Estonia
135                                              Denmark
136                                          Netherlands
137                                          Switzerland
138                                               Bhutan
139                                               Taiwan
140                                        Guinea-Bissau
141                                              Moldova
142                                              Belgium
143                                              Lesotho
144                                              Armenia
145                                      Solomon Islands
146                                              Albania
147                                    Equatorial Guinea
148                                              Burundi
149                                                Haiti
150                                               Rwanda
151                                      North Macedonia
152                                             Djibouti
153                                               Belize
154                                          El Salvador
155                                               Israel
156                                             Slovenia
157                               New Caledonia (France)
158                                                 Fiji
159                                               Kuwait
160                                             Eswatini
161                                           East Timor
162                                              Bahamas
163                                           Montenegro
164                                              Vanuatu
165                    Falkland Islands (United Kingdom)
166                                                Qatar
167                                               Gambia
168                                              Jamaica
169                                              Lebanon
170                                               Cyprus
171                          Puerto Rico (United States)
172                 French Southern Territories (France)
173                 United States Minor Outlying Islands
174                                            Palestine
175                                               Brunei
176                                  Trinidad and Tobago
177                            French Polynesia (France)
178                                           Cape Verde
179     South Georgia and the South Sandwich Islands ...
180                                              Artsakh
181                                                Samoa
182                                    Hong Kong (China)
183                                           Luxembourg
184                            Bir Tawil (terra nullius)
185                                            Mauritius
186                                              Comoros
187                              Faroe Islands (Denmark)
188                                São Tomé and Príncipe
189            Turks and Caicos Islands (United Kingdom)
190                                             Kiribati
191                                              Bahrain
192                                             Dominica
193                                                Tonga
194                                            Singapore
195                                           Micronesia
196                                          Saint Lucia
197               Isle of Man (British Crown Dependency)
198                                 Guam (United States)
199                                              Andorra
200             Northern Mariana Islands (United States)
201                                                Palau
202                                           Seychelles
203                                Curaçao (Netherlands)
204                                  Antigua and Barbuda
205                                             Barbados
206        Heard Island and McDonald Islands (Australia)
207                     Saint Vincent and the Grenadines
208                                   Jan Mayen (Norway)
209                  U.S. Virgin Islands (United States)
210                                              Grenada
211                                                Malta
212     Saint Helena, Ascension and Tristan da Cunha ...
213                                             Maldives
214                                Bonaire (Netherlands)
215                      Cayman Islands (United Kingdom)
216                                Saint Kitts and Nevis
217                                                 Niue
218               Akrotiri and Dhekelia (United Kingdom)
219                   Saint Pierre and Miquelon (France)
220                                         Cook Islands
221                       American Samoa (United States)
222                                     Marshall Islands
223                                  Aruba (Netherlands)
224                                Easter Island (Chile)
225                                        Liechtenstein
226              British Virgin Islands (United Kingdom)
227                           Wallis and Futuna (France)
228                         Christmas Island (Australia)
229                    Jersey (British Crown Dependency)
230                          Montserrat (United Kingdom)
231                            Anguilla (United Kingdom)
232                  Guernsey (British Crown Dependency)
233                                           San Marino
234      British Indian Ocean Territory (United Kingdom)
235                                Saint Martin (France)
236                             Bermuda (United Kingdom)
237                               Bouvet Island (Norway)
238                    Pitcairn Islands (United Kingdom)
239                           Norfolk Island (Australia)
240                           Sint Maarten (Netherlands)
241                                        Macao (China)
242                                               Tuvalu
243                                                Nauru
244                            Saint Barthélemy (France)
245                         Sint Eustatius (Netherlands)
246                  Cocos (Keeling) Islands (Australia)
247                                   Saba (Netherlands)
248                                Tokelau (New Zealand)
249                           Gibraltar (United Kingdom)
250                           Clipperton Island (France)
251              Ashmore and Cartier Islands (Australia)
252                                               Monaco
253                                         Vatican City
Name: Country / Dependency, dtype: object

In [14]:
# pull country records that contain anything other than alphabetical characters and whitespace
df.loc[df["Country / Dependency"].str.contains("[^A-Za-z\s]+")]

                                  Country / Dependency  Land in km2
3                                       Canada[Note 1]    9093507.0
14                                 Greenland (Denmark)    2166086.0
127                                  Svalbard (Norway)      62045.0
140                                      Guinea-Bissau      28120.0
157                             New Caledonia (France)      18275.0
165                  Falkland Islands (United Kingdom)      12173.0
171                        Puerto Rico (United States)       9104.0
172               French Southern Territories (France)       7668.0
177                          French Polynesia (France)       3827.0
179   South Georgia and the South Sandwich Islands ...       3903.0
182                                  Hong Kong (China)       1106.0
184                          Bir Tawil (terra nullius)       2060.0
187                            Faroe Islands (Denmark)       1393.0
188                              São Tomé and Príncipe        964.0
189          Turks and Caicos Islands (United Kingdom)        430.0
197             Isle of Man (British Crown Dependency)        572.0
198                               Guam (United States)        544.0
200           Northern Mariana Islands (United States)        464.0
203                              Curaçao (Netherlands)        444.0
206      Heard Island and McDonald Islands (Australia)        412.0
208                                 Jan Mayen (Norway)        377.0
209                U.S. Virgin Islands (United States)        346.0
212   Saint Helena, Ascension and Tristan da Cunha ...        308.0
214                              Bonaire (Netherlands)        294.0
215                    Cayman Islands (United Kingdom)        264.0
218             Akrotiri and Dhekelia (United Kingdom)          NaN
219                 Saint Pierre and Miquelon (France)        242.0
221                     American Samoa (United States)        199.0
223                                Aruba (Netherlands)        180.0
224                              Easter Island (Chile)        163.6
226            British Virgin Islands (United Kingdom)        151.0
227                         Wallis and Futuna (France)        142.0
228                       Christmas Island (Australia)        135.0
229                  Jersey (British Crown Dependency)        116.0
230                        Montserrat (United Kingdom)        102.0
231                          Anguilla (United Kingdom)         91.0
232                Guernsey (British Crown Dependency)         78.0
234    British Indian Ocean Territory (United Kingdom)         60.0
235                              Saint Martin (France)         54.4
236                           Bermuda (United Kingdom)         54.0
237                             Bouvet Island (Norway)         49.0
238                  Pitcairn Islands (United Kingdom)         47.0
239                         Norfolk Island (Australia)         36.0
240                         Sint Maarten (Netherlands)         34.0
241                                      Macao (China)         28.2
244                          Saint Barthélemy (France)          NaN
245                       Sint Eustatius (Netherlands)          NaN
246                Cocos (Keeling) Islands (Australia)         14.0
247                                 Saba (Netherlands)          NaN
248                              Tokelau (New Zealand)         12.0
249                         Gibraltar (United Kingdom)          6.5
250                         Clipperton Island (France)          2.0
251            Ashmore and Cartier Islands (Australia)          5.0

In [15]:
#strip country column of whitespace
df["Country / Dependency"] = df["Country / Dependency"].str.strip()

# [deprecated solution] replaced with latter code since edge case [246] "Cocos (Keeling) Islands (Australia)" was not satisfied
# split and save first index item in country columns that contains 1 or more chars that arent alphabetical or whitespace
# df.loc[df["Country / Dependency"].str.contains("[^A-Za-z\s]+"), "Country / Dependency"] = df.loc[df["Country / Dependency"].str.contains("[^A-Za-z\s]+"), "Country / Dependency"].str.split("(").str[0].str.strip()
# split and save first index item in country columns that contains "["
# df.loc[df["Country / Dependency"].str.contains("\["), "Country / Dependency"] = df.loc[df["Country / Dependency"].str.contains("\["), "Country / Dependency"].str.split("[").str[0].str.strip()

#remove any parentheses and data within parentheses or brackets in records
df["Country / Dependency"] = df["Country / Dependency"].str.replace("([\(\[].*?[\]\)])", "").str.strip()

# check for revised column values (should no longer have most columns except for canada, since it uses "[")
print(df.loc[df["Country / Dependency"].str.contains("[^A-Za-z\s]+"), "Country / Dependency"])
# check for any items that contain a "[" -- should be empty now
print(df.loc[df["Country / Dependency"].str.contains("\["), "Country / Dependency"])

140                                   Guinea-Bissau
188                           São Tomé and Príncipe
203                                         Curaçao
209                             U.S. Virgin Islands
212    Saint Helena, Ascension and Tristan da Cunha
244                                Saint Barthélemy
Name: Country / Dependency, dtype: object
Series([], Name: Country / Dependency, dtype: object)

In [16]:
#rename column to reflect new cleaned country column value
df.rename(columns={"Country / Dependency": "Country"}, inplace=True)
#verify new country column name
df.columns

Index(['Country', 'Land in km2'], dtype='object')

### Combine Jersey and Guernsey Territories under "Channel Islands"

In [17]:
#view Jersey and Guernsey territories that will be combined together

print(df.loc[df["Country"].str.contains("Jersey"), :])
print(df.loc[df["Country"].str.contains("Guernsey"), :])

    Country  Land in km2
229  Jersey        116.0
      Country  Land in km2
232  Guernsey         78.0

In [18]:
#combine Jersey and Guernsey records under "Channel Islands", calculate sum of land 

#save column labels so that we dont need to manually type each time
cols = list(df.columns)

#calculate the land from jersey and guernsey
jersey_land = int(df.loc[df["Country"].str.contains("Jersey"), "Land in km2"])
guernsey_land = int(df.loc[df["Country"].str.contains("Guernsey"), "Land in km2"])

new_row = {
    cols[0]: "Channel Islands", 
    cols[1]: jersey_land + guernsey_land
          }

In [19]:
# add new row to last index in df
df.loc[len(df)] = new_row 
       
# drop rows used to make new row
df.drop([229,232], axis=0, inplace=True)

# reset index
df.reset_index(drop=True, inplace=True)

In [20]:
#check last row for new "Channel Islands" record
df.iloc[len(df)-1]

Country        Channel Islands
Land in km2                194
Name: 252, dtype: object

### Review Country Size DataFrame and save

In [21]:
df

                         Country   Land in km2
0                          World  1.489400e+08
1                         Russia  1.637841e+07
2                     Antarctica  1.420000e+07
3                         Canada  9.093507e+06
4                          China  9.326410e+06
..                           ...           ...
248            Clipperton Island  2.000000e+00
249  Ashmore and Cartier Islands  5.000000e+00
250                       Monaco  2.020000e+00
251                 Vatican City  4.900000e-01
252              Channel Islands  1.940000e+02

[253 rows x 2 columns]

In [22]:
cs_df = df
cs_df

                         Country   Land in km2
0                          World  1.489400e+08
1                         Russia  1.637841e+07
2                     Antarctica  1.420000e+07
3                         Canada  9.093507e+06
4                          China  9.326410e+06
..                           ...           ...
248            Clipperton Island  2.000000e+00
249  Ashmore and Cartier Islands  5.000000e+00
250                       Monaco  2.020000e+00
251                 Vatican City  4.900000e-01
252              Channel Islands  1.940000e+02

[253 rows x 2 columns]

## Load Population DataFrame

In [23]:
#load dataset

#specify filepath variable in case file path needs to be changed
filepath = r"C:\Work\Projects\Python Projects\Preppin Data\2023 Week 17_Population Growth vs Country Size\drive-download-20230704T072535Z-001\Population Data.xls".replace("\\", "/")

#specify header so that csv reads headers without errors
df = pd.read_excel(filepath, header=3)

#preview dataframe
df.head(10)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5357195.0,5441333.0,5521400.0,5599827.0,5673199.0,5736582.0,...,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0
5,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,2866376.0,2854191.0,2837849.0,2811666.0
6,Andorra,AND,"Population, total",SP.POP.TOTL,9443.0,10216.0,11014.0,11839.0,12690.0,13563.0,...,71013.0,71367.0,71621.0,71746.0,72540.0,73837.0,75013.0,76343.0,77700.0,79034.0
7,Arab World,ARB,"Population, total",SP.POP.TOTL,93359407.0,95760348.0,98268683.0,100892507.0,103618568.0,106444103.0,...,380383408.0,389131555.0,397922915.0,406501999.0,415077960.0,423664839.0,432545676.0,441467739.0,449228296.0,456520777.0
8,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,133426.0,140984.0,148877.0,157006.0,165305.0,173797.0,...,8664969.0,8751847.0,8835951.0,8916899.0,8994263.0,9068296.0,9140169.0,9211657.0,9287289.0,9365145.0
9,Argentina,ARG,"Population, total",SP.POP.TOTL,20349744.0,20680653.0,21020359.0,21364017.0,21708487.0,22053661.0,...,41733271.0,42202935.0,42669500.0,43131966.0,43590368.0,44044811.0,44494502.0,44938712.0,45376763.0,45808747.0

## Clean and Reformat Data: Population Dataset

### Delete Unnecessary Records

In [24]:
#check for unique "Indicator Name" column values
df["Indicator Name"].unique()

#would need to filter out non "Population, total" records if other metrics were present in the unique() method

array(['Population, total'], dtype=object)

### Delete Unnecessary Columns

In [25]:
#check for required columns 
df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [26]:
#drop unnecessary columns
df.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'], inplace=True)
df.columns

Index(['Country Name', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
       '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021'],
      dtype='object')

### Check for Countries in Population Dataset that are not in Country Size Dataset, Spot Correct Individual Country Names before Inner Join
**checking for the following reasons:** 
- see if further data cleaning is needed prior to joining the datasets on country values 
- shows us which countries need to be cleaned and how

In [27]:
#check which rows of df "Country Name" are not in cc_df "Country"
#print all
not_in = df[~df["Country Name"].isin(cs_df["Country"])]
with pd.option_context('display.max_rows', None,):
   print(not_in)

                                          Country Name          1960  \
1                          Africa Eastern and Southern  1.306926e+08
3                           Africa Western and Central  9.725629e+07
7                                           Arab World  9.335941e+07
36                      Central Europe and the Baltics  9.140176e+07
49                              Caribbean small states  4.209141e+06
51                                             Curacao  1.248260e+05
61         East Asia & Pacific (excluding high income)  8.964823e+08
62                          Early-demographic dividend  9.794615e+08
63                                 East Asia & Pacific  1.043334e+09
64       Europe & Central Asia (excluding high income)  2.557261e+08
65                               Europe & Central Asia  6.662737e+08
68                                           Euro area  2.652450e+08
73                                      European Union  3.569471e+08
74            Fragile and conflict affected situations  2.448963e+08
95                                         High income  7.795465e+08
98              Heavily indebted poor countries (HIPC)  1.634540e+08
102                                          IBRD only  1.914221e+09
103                                   IDA & IBRD total  2.298063e+09
104                                          IDA total  3.838417e+08
105                                          IDA blend  1.203808e+08
107                                           IDA only  2.634610e+08
110                                     Not classified           NaN
128  Latin America & Caribbean (excluding high income)  1.952831e+08
134                          Latin America & Caribbean  2.191426e+08
135       Least developed countries: UN classification  2.439689e+08
136                                         Low income  1.423988e+08
139                                Lower middle income  9.896015e+08
140                                Low & middle income  2.243861e+09
142                          Late-demographic dividend  1.095639e+09
153                         Middle East & North Africa  1.049583e+08
156                                      Middle income  2.101463e+09
161  Middle East & North Africa (excluding high inc...  9.717966e+07
170                                      North America  1.986248e+08
181                                       OECD members  8.076309e+08
183                                 Other small states  9.080716e+06
191                           Pre-demographic dividend  1.884849e+08
196                                 West Bank and Gaza           NaN
197                        Pacific island small states  9.055370e+05
198                          Post-demographic dividend  7.555751e+08
204                                         South Asia  5.712830e+08
215         Sub-Saharan Africa (excluding high income)  2.279072e+08
217                                 Sub-Saharan Africa  2.279489e+08
218                                       Small states  1.419539e+07
219                              São Tomé and Príncipe  6.803800e+04
230         East Asia & Pacific (IDA & IBRD countries)  8.848112e+08
231       Europe & Central Asia (IDA & IBRD countries)  3.079106e+08
236  Latin America & the Caribbean (IDA & IBRD coun...  2.089295e+08
238  Middle East & North Africa (IDA & IBRD countries)  9.717966e+07
240                            South Asia (IDA & IBRD)  5.712830e+08
241          Sub-Saharan Africa (IDA & IBRD countries)  2.279489e+08
249                                Upper middle income  1.111861e+09
256                              Virgin Islands (U.S.)  3.250000e+04
261                                             Kosovo  9.470000e+05

             1961          1962          1963          1964          1965  \
1    1.341692e+08  1.378356e+08  1.416305e+08  1.456060e+08  1.497424e+08
3    9.931403e+07  1.014450e+08  1.036675e+08  1.059600e+08  1.083362e+08
7    9.576035e+07  9.826868e+07  1.008925e+08  1.036186e+08  1.064441e+08
36   9.223274e+07  9.300950e+07  9.384002e+07  9.471580e+07  9.544099e+07
49   4.289429e+06  4.366420e+06  4.443544e+06  4.520592e+06  4.596245e+06
51   1.261250e+05  1.284140e+05  1.308600e+05  1.331480e+05  1.352660e+05
61   8.960129e+08  9.078802e+08  9.311360e+08  9.540104e+08  9.775170e+08
62   1.004319e+09  1.029962e+09  1.056327e+09  1.083430e+09  1.110603e+09
63   1.045203e+09  1.059600e+09  1.085399e+09  1.110819e+09  1.136927e+09
64   2.599515e+08  2.641836e+08  2.684094e+08  2.726349e+08  2.767656e+08
65   6.739578e+08  6.818094e+08  6.896827e+08  6.975596e+08  7.052331e+08
68   2.675606e+08  2.699084e+08  2.722919e+08  2.747005e+08  2.771521e+08
73   3.599379e+08  3.629988e+08  3.661530e+08  3.693874e+08  3.725338e+08
74   2.501557e+08  2.556285e+08  2.612572e+08  2.670571e+08  2.729992e+08
95   7.893096e+08  7.992968e+08  8.091890e+08  8.190574e+08  8.286284e+08
98   1.674278e+08  1.715553e+08  1.758326e+08  1.802948e+08  1.849492e+08
102  1.936154e+09  1.970959e+09  2.017658e+09  2.064405e+09  2.111648e+09
103  2.329593e+09  2.374361e+09  2.431394e+09  2.488885e+09  2.547296e+09
104  3.934384e+08  4.034029e+08  4.137358e+08  4.244800e+08  4.356481e+08
105  1.233404e+08  1.264048e+08  1.296204e+08  1.329678e+08  1.364527e+08
107  2.700980e+08  2.769981e+08  2.841154e+08  2.915121e+08  2.991954e+08
110           NaN           NaN           NaN           NaN           NaN
128  2.008393e+08  2.065542e+08  2.124142e+08  2.184035e+08  2.244979e+08
134  2.253046e+08  2.316385e+08  2.381279e+08  2.447421e+08  2.514582e+08
135  2.498961e+08  2.560858e+08  2.624625e+08  2.690881e+08  2.759674e+08
136  1.457324e+08  1.491986e+08  1.527993e+08  1.565792e+08  1.605291e+08
139  1.013696e+09  1.038393e+09  1.063812e+09  1.089851e+09  1.115860e+09
140  2.274748e+09  2.318884e+09  2.375260e+09  2.432089e+09  2.489968e+09
142  1.097818e+09  1.112228e+09  1.138052e+09  1.163453e+09  1.189561e+09
153  1.076708e+08  1.105380e+08  1.135181e+08  1.166247e+08  1.198320e+08
156  2.129016e+09  2.169685e+09  2.222461e+09  2.275510e+09  2.329439e+09
161  9.962028e+07  1.021599e+08  1.048179e+08  1.075773e+08  1.104320e+08
170  2.020075e+08  2.051986e+08  2.082537e+08  2.112629e+08  2.140311e+08
181  8.188321e+08  8.302891e+08  8.417223e+08  8.532007e+08  8.644041e+08
183  9.244843e+06  9.436172e+06  9.631390e+06  9.819458e+06  9.995778e+06
191  1.928910e+08  1.975493e+08  2.024130e+08  2.074804e+08  2.127422e+08
196           NaN           NaN           NaN           NaN           NaN
197  9.325200e+05  9.602580e+05  9.887670e+05  1.017629e+06  1.046929e+06
198  7.646789e+08  7.739717e+08  7.830631e+08  7.920609e+08  8.008346e+08
204  5.848835e+08  5.988694e+08  6.132295e+08  6.279434e+08  6.427246e+08
215  2.334404e+08  2.392366e+08  2.452529e+08  2.515197e+08  2.580311e+08
217  2.334833e+08  2.392806e+08  2.452981e+08  2.515660e+08  2.580786e+08
218  1.446679e+07  1.476285e+07  1.506370e+07  1.535768e+07  1.563895e+07
219  6.870500e+04  6.952000e+04  7.027200e+04  7.099200e+04  7.173000e+04
230  8.840805e+08  8.956834e+08  9.186440e+08  9.412057e+08  9.643935e+08
231  3.126381e+08  3.173653e+08  3.221449e+08  3.269463e+08  3.315230e+08
236  2.148869e+08  2.210028e+08  2.272599e+08  2.336467e+08  2.401444e+08
238  9.962028e+07  1.021599e+08  1.048179e+08  1.075773e+08  1.104320e+08
240  5.848835e+08  5.988694e+08  6.132295e+08  6.279434e+08  6.427246e+08
241  2.334833e+08  2.392806e+08  2.452981e+08  2.515660e+08  2.580786e+08
249  1.115320e+09  1.131292e+09  1.158649e+09  1.185659e+09  1.213579e+09
256  3.430000e+04  3.500000e+04  3.980000e+04  4.080000e+04  4.350000e+04
261  9.660000e+05  9.940000e+05  1.022000e+06  1.050000e+06  1.078000e+06

             1966          1967          1968  ...          2012  \
1    1.539555e+08  1.583132e+08  1.628752e+08  ...  5.525307e+08
3    1.107985e+08  1.133200e+08  1.159217e+08  ...  3.767980e+08
7    1.093945e+08  1.124998e+08  1.157296e+08  ...  3.803834e+08
36   9.614634e+07  9.704327e+07  9.788402e+07  ...  1.039353e+08
49   4.670465e+06  4.743053e+06  4.813958e+06  ...  7.088996e+06
51   1.366820e+05  1.381400e+05  1.402980e+05  ...  1.520880e+05
61   1.004358e+09  1.030479e+09  1.057620e+09  ...  2.001318e+09
62   1.137876e+09  1.166093e+09  1.195278e+09  ...  3.035261e+09
63   1.166228e+09  1.194567e+09  1.224256e+09  ...  2.243777e+09
64   2.802292e+08  2.837249e+08  2.871932e+08  ...  3.834761e+08
65   7.120771e+08  7.188841e+08  7.254511e+08  ...  8.947621e+08
68   2.794931e+08  2.815695e+08  2.835419e+08  ...  3.361831e+08
73   3.755632e+08  3.785126e+08  3.812809e+08  ...  4.414199e+08
74   2.790321e+08  2.852203e+08  2.916006e+08  ...  8.171110e+08
95   8.377333e+08  8.464729e+08  8.551131e+08  ...  1.191244e+09
98   1.897450e+08  1.947425e+08  1.999809e+08  ...  6.675209e+08
102  2.161513e+09  2.211123e+09  2.262213e+09  ...  4.539500e+09
103  2.608664e+09  2.670179e+09  2.733623e+09  ...  5.997942e+09
104  4.471513e+08  4.590555e+08  4.714104e+08  ...  1.458441e+09
105  1.400643e+08  1.437687e+08  1.475875e+08  ...  4.958685e+08
107  3.070870e+08  3.152868e+08  3.238229e+08  ...  9.625728e+08
110           NaN           NaN           NaN  ...           NaN
128  2.306516e+08  2.368517e+08  2.430987e+08  ...  5.417923e+08
134  2.582253e+08  2.650302e+08  2.718857e+08  ...  6.021394e+08
135  2.830131e+08  2.903325e+08  2.979608e+08  ...  8.853751e+08
136  1.645982e+08  1.688707e+08  1.733526e+08  ...  5.655360e+08
139  1.141895e+09  1.168662e+09  1.196324e+09  ...  2.996702e+09
140  2.550817e+09  2.611645e+09  2.674469e+09  ...  5.920181e+09
142  1.218401e+09  1.246378e+09  1.275122e+09  ...  2.211789e+09
153  1.231552e+08  1.266780e+08  1.302581e+08  ...  4.141176e+08
156  2.386219e+09  2.442775e+09  2.501116e+09  ...  5.354645e+09
161  1.134101e+08  1.165183e+08  1.197067e+08  ...  3.562397e+08
170  2.166590e+08  2.191760e+08  2.215030e+08  ...  3.486567e+08
181  8.751876e+08  8.857707e+08  8.961370e+08  ...  1.305615e+09
183  1.017087e+07  1.035706e+07  1.055756e+07  ...  2.761727e+07
191  2.181532e+08  2.237217e+08  2.295040e+08  ...  7.848228e+08
196           NaN           NaN           NaN  ...  3.979998e+06
197  1.075580e+06  1.102445e+06  1.128479e+06  ...  2.353058e+06
198  8.091304e+08  8.170803e+08  8.247853e+08  ...  1.082489e+09
204  6.574630e+08  6.724885e+08  6.881043e+08  ...  1.708115e+09
215  2.647053e+08  2.715833e+08  2.787458e+08  ...  9.292404e+08
217  2.647540e+08  2.716332e+08  2.787969e+08  ...  9.293287e+08
218  1.591692e+07  1.620256e+07  1.649999e+07  ...  3.705933e+07
219  7.256700e+04  7.356400e+04  7.473900e+04  ...  1.899240e+05
230  9.908959e+08  1.016639e+09  1.043385e+09  ...  1.976387e+09
231  3.354363e+08  3.395850e+08  3.436533e+08  ...  4.458648e+08
236  2.467049e+08  2.533153e+08  2.599774e+08  ...  5.859869e+08
238  1.134101e+08  1.165183e+08  1.197067e+08  ...  3.522597e+08
240  6.574630e+08  6.724885e+08  6.881043e+08  ...  1.708115e+09
241  2.647540e+08  2.716332e+08  2.787969e+08  ...  9.293287e+08
249  1.244324e+09  1.274113e+09  1.304792e+09  ...  2.357943e+09
256  4.620000e+04  4.910000e+04  5.570000e+04  ...  1.081880e+05
261  1.106000e+06  1.135000e+06  1.163000e+06  ...  1.807106e+06

             2013          2014          2015          2016          2017  \
1    5.678919e+08  5.836508e+08  6.000082e+08  6.163773e+08  6.327463e+08
3    3.872046e+08  3.978555e+08  4.086904e+08  4.197784e+08  4.311387e+08
7    3.891316e+08  3.979229e+08  4.065020e+08  4.150780e+08  4.236648e+08
36   1.037137e+08  1.034962e+08  1.032579e+08  1.029943e+08  1.027401e+08
49   7.135884e+06  7.181044e+06  7.224602e+06  7.265272e+06  7.303634e+06
51   1.538220e+05  1.559090e+05  1.579800e+05  1.596640e+05  1.601750e+05
61   2.018121e+09  2.034317e+09  2.049809e+09  2.065223e+09  2.080969e+09
62   3.078836e+09  3.122586e+09  3.166643e+09  3.210111e+09  3.252530e+09
63   2.261274e+09  2.278232e+09  2.294507e+09  2.310722e+09  2.327135e+09
64   3.860517e+08  3.888424e+08  3.916954e+08  3.943211e+08  3.964825e+08
65   8.990359e+08  9.036010e+08  9.081231e+08  9.123747e+08  9.158554e+08
68   3.373288e+08  3.384869e+08  3.395147e+08  3.405094e+08  3.412461e+08
73   4.424962e+08  4.436014e+08  4.445701e+08  4.455154e+08  4.462152e+08
74   8.371031e+08  8.567056e+08  8.761185e+08  8.959496e+08  9.160995e+08
95   1.198018e+09  1.204883e+09  1.211638e+09  1.218545e+09  1.224733e+09
98   6.866203e+08  7.066172e+08  7.271293e+08  7.483566e+08  7.703902e+08
102  4.588991e+09  4.638293e+09  4.686051e+09  4.731948e+09  4.776473e+09
103  6.079383e+09  6.160759e+09  6.241292e+09  6.321324e+09  6.401367e+09
104  1.490392e+09  1.522466e+09  1.555241e+09  1.589376e+09  1.624894e+09
105  5.064434e+08  5.169001e+08  5.271759e+08  5.373584e+08  5.479850e+08
107  9.839491e+08  1.005566e+09  1.028065e+09  1.052017e+09  1.076909e+09
110           NaN           NaN           NaN           NaN           NaN
128  5.477015e+08  5.535329e+08  5.593178e+08  5.651370e+08  5.711445e+08
134  6.086422e+08  6.150468e+08  6.213901e+08  6.276685e+08  6.337972e+08
135  9.071340e+08  9.293980e+08  9.519282e+08  9.752659e+08  9.992889e+08
136  5.801262e+08  5.947735e+08  6.100473e+08  6.263822e+08  6.434857e+08
139  3.042939e+09  3.089095e+09  3.134736e+09  3.180221e+09  3.225576e+09
140  6.001329e+09  6.082433e+09  6.162743e+09  6.242647e+09  6.322861e+09
142  2.227938e+09  2.243582e+09  2.258039e+09  2.272117e+09  2.286565e+09
153  4.227904e+08  4.316646e+08  4.405065e+08  4.489174e+08  4.568855e+08
156  5.421202e+09  5.487659e+09  5.552696e+09  5.616265e+09  5.679375e+09
161  3.633102e+08  3.707564e+08  3.781373e+08  3.850545e+08  3.916074e+08
170  3.512079e+08  3.538889e+08  3.565071e+08  3.592458e+08  3.617312e+08
181  1.314072e+09  1.323006e+09  1.331743e+09  1.340532e+09  1.348646e+09
183  2.822552e+07  2.890728e+07  2.962077e+07  3.030972e+07  3.094004e+07
191  8.085421e+08  8.324698e+08  8.564203e+08  8.808915e+08  9.059879e+08
196  4.076708e+06  4.173398e+06  4.270092e+06  4.367088e+06  4.454805e+06
197  2.379069e+06  2.405308e+06  2.431426e+06  2.457814e+06  2.484263e+06
198  1.087231e+09  1.092180e+09  1.097061e+09  1.102020e+09  1.106215e+09
204  1.731137e+09  1.753569e+09  1.775178e+09  1.796850e+09  1.818869e+09
215  9.550065e+08  9.814150e+08  1.008605e+09  1.036061e+09  1.063789e+09
217  9.550964e+08  9.815063e+08  1.008699e+09  1.036156e+09  1.063885e+09
218  3.774047e+07  3.849363e+07  3.927680e+07  4.003281e+07  4.072794e+07
219  1.937570e+05  1.974970e+05  2.011240e+05  2.046320e+05  2.080360e+05
230  1.993077e+09  2.009150e+09  2.024511e+09  2.039795e+09  2.055415e+09
231  4.483313e+08  4.510015e+08  4.537011e+08  4.561678e+08  4.581706e+08
236  5.925076e+08  5.989494e+08  6.053356e+08  6.116681e+08  6.178758e+08
238  3.592335e+08  3.665830e+08  3.738672e+08  3.806874e+08  3.871526e+08
240  1.731137e+09  1.753569e+09  1.775178e+09  1.796850e+09  1.818869e+09
241  9.550964e+08  9.815063e+08  1.008699e+09  1.036156e+09  1.063885e+09
249  2.378264e+09  2.398564e+09  2.417960e+09  2.436044e+09  2.453799e+09
256  1.080410e+05  1.078820e+05  1.077120e+05  1.075160e+05  1.072810e+05
261  1.818117e+06  1.812771e+06  1.788196e+06  1.777557e+06  1.791003e+06

             2018          2019          2020          2021
1    6.497569e+08  6.672427e+08  6.851127e+08  7.029768e+08
3    4.426468e+08  4.543061e+08  4.661891e+08  4.781859e+08
7    4.325457e+08  4.414677e+08  4.492283e+08  4.565208e+08
36   1.025385e+08  1.023985e+08  1.021801e+08  1.014310e+08
49   7.374650e+06  7.424102e+06  7.444768e+06  7.481877e+06
51   1.593360e+05  1.574410e+05  1.549470e+05  1.523690e+05
61   2.094573e+09  2.106439e+09  2.116425e+09  2.123673e+09
62   3.294299e+09  3.335464e+09  3.375134e+09  3.411889e+09
63   2.341387e+09  2.353862e+09  2.363940e+09  2.370204e+09
64   3.980768e+08  3.995923e+08  4.008118e+08  4.015752e+08
65   9.187826e+08  9.211797e+08  9.231039e+08  9.237772e+08
68   3.420652e+08  3.424527e+08  3.429134e+08  3.430678e+08
73   4.470011e+08  4.473672e+08  4.476923e+08  4.471998e+08
74   9.363879e+08  9.574467e+08  9.794185e+08  1.001462e+09
95   1.230678e+09  1.235869e+09  1.240901e+09  1.240630e+09
98   7.926159e+08  8.151008e+08  8.380666e+08  8.611567e+08
102  4.817628e+09  4.855634e+09  4.889761e+09  4.917520e+09
103  6.479097e+09  6.554880e+09  6.628068e+09  6.695398e+09
104  1.661470e+09  1.699246e+09  1.738307e+09  1.777877e+09
105  5.591556e+08  5.706333e+08  5.826371e+08  5.950160e+08
107  1.102314e+09  1.128613e+09  1.155670e+09  1.182861e+09
110           NaN           NaN           NaN           NaN
128  5.774060e+08  5.835004e+08  5.888084e+08  5.933080e+08
134  6.396282e+08  6.452958e+08  6.505350e+08  6.549817e+08
135  1.023494e+09  1.048194e+09  1.073743e+09  1.099569e+09
136  6.612566e+08  6.800135e+08  6.991865e+08  7.182551e+08
139  3.270215e+09  3.313903e+09  3.357118e+09  3.398188e+09
140  6.401272e+09  6.477841e+09  6.551590e+09  6.619579e+09
142  2.298987e+09  2.309492e+09  2.317277e+09  2.321862e+09
153  4.650735e+08  4.732018e+08  4.799666e+08  4.861674e+08
156  5.740016e+09  5.797828e+09  5.852404e+09  5.901324e+09
161  3.983753e+08  4.052594e+08  4.118101e+08  4.180472e+08
170  3.639672e+08  3.659951e+08  3.696022e+08  3.702037e+08
181  1.356242e+09  1.362923e+09  1.370242e+09  1.372737e+09
183  3.149422e+07  3.200520e+07  3.238119e+07  3.270800e+07
191  9.314672e+08  9.575032e+08  9.842134e+08  1.011043e+09
196  4.569087e+06  4.685306e+06  4.803269e+06  4.922749e+06
197  2.510226e+06  2.536070e+06  2.566819e+06  2.602173e+06
198  1.110127e+09  1.113311e+09  1.117443e+09  1.116796e+09
204  1.840534e+09  1.861599e+09  1.882532e+09  1.901912e+09
215  1.092307e+09  1.121451e+09  1.151203e+09  1.181063e+09
217  1.092404e+09  1.121549e+09  1.151302e+09  1.181163e+09
218  4.137909e+07  4.196538e+07  4.239278e+07  4.279205e+07
219  2.113440e+05  2.145990e+05  2.186410e+05  2.231070e+05
230  2.068899e+09  2.080649e+09  2.090524e+09  2.097669e+09
231  4.596133e+08  4.609947e+08  4.620238e+08  4.623412e+08
236  6.238413e+08  6.295156e+08  6.346804e+08  6.391887e+08
238  3.938063e+08  4.005741e+08  4.070069e+08  4.131245e+08
240  1.840534e+09  1.861599e+09  1.882532e+09  1.901912e+09
241  1.092404e+09  1.121549e+09  1.151302e+09  1.181163e+09
249  2.469801e+09  2.483924e+09  2.495285e+09  2.503136e+09
256  1.070010e+05  1.066690e+05  1.062900e+05  1.058700e+05
261  1.797085e+06  1.788878e+06  1.790133e+06  1.786038e+06

[53 rows x 63 columns]

In [28]:
#show tally of how many countries dont match between the two datasets
not_in["Country Name"].count()

53

we will now check the following individual countries for any mismatched values between the datasets based on the prior list
- Curacao
- Virgin Islands (U.S.)
- Kosovo

In [29]:
#use this to check for specific rows of "Country Name" values in df
#verified possible spellings of Curacao via google, will test cs_df for revised value

cs_df.loc[cs_df["Country"].str.contains("Curaçao"),:]

     Country  Land in km2
203  Curaçao        444.0

In [30]:
#there is a Curacao present with the new spelling in cs_df (Curaçao)
#replace "Curacao" in population dataset with "Curaçao" to match cs_df

df.loc[df["Country Name"].str.contains("Curacao"), "Country Name"] = "Curaçao"
df.loc[df["Country Name"] == "Curaçao", :]

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
51,Curaçao,124826.0,126125.0,128414.0,130860.0,133148.0,135266.0,136682.0,138140.0,140298.0,...,152088.0,153822.0,155909.0,157980.0,159664.0,160175.0,159336.0,157441.0,154947.0,152369.0

In [31]:
#use this to check for specific rows of "Country Name" values in df
#there are no other possible spellings of Kosovo via google, will test cs_df for current value

cs_df.loc[cs_df["Country"].str.contains("Kosovo"),:]

#there is no Kosovo present in cs_df to match with, will proceed to the next case

Empty DataFrame
Columns: [Country, Land in km2]
Index: []

In [32]:
#use this to check for specific rows of "Country Name" values in df
#will use shortened version of "Virgin Islands" to check cs_df for different formatting

cs_df.loc[cs_df["Country"].str.contains("Virgin Islands"),:]

                    Country  Land in km2
209     U.S. Virgin Islands        346.0
226  British Virgin Islands        151.0

In [33]:
#there is a "U.S. Virgin Islands" present in cs_df
#replace "Virgin Islands (U.S.)" in population dataset with "U.S. Virgin Islands" to match cs_df

df.loc[df["Country Name"].str.contains("Virgin Islands \(U.S.\)"), "Country Name"] = "U.S. Virgin Islands"
df.loc[df["Country Name"].str.contains("U.S. Virgin Islands"), :]

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
256,U.S. Virgin Islands,32500.0,34300.0,35000.0,39800.0,40800.0,43500.0,46200.0,49100.0,55700.0,...,108188.0,108041.0,107882.0,107712.0,107516.0,107281.0,107001.0,106669.0,106290.0,105870.0

- **individual countries/territories have been corrected above**
- **most of the remaining countries shown in the list above contain regions or groupings (as opposed to individual countries or territories)**
    - **as a result we will move on to save the population dataset and join the two cleaned datasets together**

In [34]:
#save df as p_df for clarity
p_df = df

## Merge Country Size DataFrame and Population DataFrame

### Outer Join Version (to test for missing matches)

In [35]:
#join the two datasets together via outer join to check if there are significant amount of missing matches

total_df = pd.merge(cs_df, p_df, left_on="Country", right_on="Country Name", how="outer")

In [36]:
#preview dataframe

total_df.head(3)

,Country,Land in km2,Country Name,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,World,148940000.0,World,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,3.398561e+09,...,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09
1,Russia,16378410.0,Russia,1.198970e+08,1.212360e+08,1.225910e+08,1.239600e+08,1.253450e+08,1.267450e+08,1.274680e+08,...,1.432017e+08,1.435070e+08,1.438197e+08,1.440969e+08,1.443424e+08,1.444967e+08,1.444779e+08,1.444063e+08,1.440731e+08,1.434493e+08
2,Antarctica,14200000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
#view entire joined DataFrame 
#not recommended for large datasets

with pd.option_context("display.max_rows", None,):
    print(total_df)

                                          Country   Land in km2  \
0                                           World  1.489400e+08
1                                          Russia  1.637841e+07
2                                      Antarctica  1.420000e+07
3                                          Canada  9.093507e+06
4                                           China  9.326410e+06
5                                   United States  9.147593e+06
6                                          Brazil  8.460415e+06
7                                       Australia  7.633565e+06
8                                           India  2.973190e+06
9                                       Argentina  2.736690e+06
10                                     Kazakhstan  2.699700e+06
11                                        Algeria  2.381741e+06
12                                       DR Congo  2.267048e+06
13                Danish Realm Kingdom of Denmark  2.220072e+06
14                                      Greenland  2.166086e+06
15                                   Saudi Arabia  2.149690e+06
16                                         Mexico  1.943945e+06
17                                      Indonesia  1.811569e+06
18                                          Sudan  1.731671e+06
19                                          Libya  1.759540e+06
20                                           Iran  1.531595e+06
21                                       Mongolia  1.553556e+06
22                                           Peru  1.279996e+06
23                                           Chad  1.259200e+06
24                                          Niger  1.266700e+06
25                                         Angola  1.246700e+06
26                                           Mali  1.220190e+06
27                                   South Africa  1.214470e+06
28                                       Colombia  1.038700e+06
29                                       Ethiopia  1.000000e+06
30                                        Bolivia  1.083301e+06
31                                     Mauritania  1.025520e+06
32                                          Egypt  9.954500e+05
33                                       Tanzania  8.858000e+05
34                                        Nigeria  9.107680e+05
35                                      Venezuela  8.820500e+05
36                                       Pakistan  8.566900e+05
37                                        Namibia  8.232900e+05
38                                     Mozambique  7.863800e+05
39                                         Turkey  7.696320e+05
40                                          Chile  7.438120e+05
41                                         Zambia  7.433980e+05
42                                        Myanmar  6.535080e+05
43                                    Afghanistan  6.528670e+05
44                                    South Sudan  6.443290e+05
45                                         France  6.404270e+05
46                                        Somalia  6.273370e+05
47                       Central African Republic  6.229840e+05
48                                        Ukraine  5.793000e+05
49                                     Madagascar  5.815400e+05
50                                       Botswana  5.667300e+05
51                                          Kenya  5.691400e+05
52                                          Yemen  5.550000e+05
53                                       Thailand  5.108900e+05
54                                          Spain  4.989800e+05
55                                   Turkmenistan  4.699300e+05
56                                       Cameroon  4.727100e+05
57                               Papua New Guinea  4.528600e+05
58                                         Sweden  4.072840e+05
59                                     Uzbekistan  4.254000e+05
60                                        Morocco  4.463000e+05
61                                           Iraq  4.373670e+05
62                                       Paraguay  3.973020e+05
63                                       Zimbabwe  3.868470e+05
64                                         Norway  3.659570e+05
65                                          Japan  3.645460e+05
66                                        Germany  3.486720e+05
67                                          Congo  3.415000e+05
68                                        Finland  3.038160e+05
69                                        Vietnam  3.100700e+05
70                                       Malaysia  3.296130e+05
71                                    Ivory Coast  3.180030e+05
72                                         Poland  3.118880e+05
73                                           Oman  3.095000e+05
74                                          Italy  2.941400e+05
75                                    Philippines  2.981700e+05
76                                        Ecuador  2.563690e+05
77                                   Burkina Faso  2.736020e+05
78                                    New Zealand  2.624430e+05
79                                          Gabon  2.576670e+05
80                                 Western Sahara  2.660000e+05
81                                         Guinea  2.457170e+05
82                                 United Kingdom  2.419300e+05
83                                         Uganda  1.971000e+05
84                                          Ghana  2.275330e+05
85                                        Romania  2.312910e+05
86                                           Laos  2.308000e+05
87                                         Guyana  1.968490e+05
88                                        Belarus  2.029000e+05
89                                     Kyrgyzstan  1.918010e+05
90                                        Senegal  1.925300e+05
91                                          Syria  1.836300e+05
92                                       Cambodia  1.765150e+05
93                                        Uruguay  1.750150e+05
94                                       Suriname  1.560000e+05
95                                        Tunisia  1.553600e+05
96                                     Bangladesh  1.342080e+05
97                                          Nepal  1.436860e+05
98                                     Tajikistan  1.415100e+05
99                                         Greece  1.306470e+05
100                                     Nicaragua  1.199900e+05
101                                       Eritrea  1.250000e+05
102                                   North Korea  1.205380e+05
103                                        Malawi  9.408000e+04
104                                         Benin  1.143050e+05
105                                      Honduras  1.118900e+05
106                                       Liberia  9.632000e+04
107                                      Bulgaria  1.086120e+05
108                                          Cuba  1.098840e+05
109                                     Guatemala  1.071590e+05
110                                       Iceland  1.002500e+05
111                                   South Korea  9.990900e+04
112                                       Hungary  8.960800e+04
113                                      Portugal  9.111900e+04
114                                        Jordan  8.880200e+04
115                                        Serbia  8.824600e+04
116                                    Azerbaijan  8.610000e+04
117                                       Austria  8.244500e+04
118                          United Arab Emirates  8.360000e+04
119                                Czech Republic  7.718700e+04
120                                        Panama  7.434000e+04
121                                  Sierra Leone  7.162000e+04
122                                       Ireland  6.888300e+04
123                                       Georgia  6.970000e+04
124                                     Sri Lanka  6.273200e+04
125                                     Lithuania  6.268000e+04
126                                        Latvia  6.224900e+04
127                                      Svalbard  6.204500e+04
128                                          Togo  5.438500e+04
129                                       Croatia  5.597400e+04
130                        Bosnia and Herzegovina  5.118700e+04
131                                    Costa Rica  5.106000e+04
132                                      Slovakia  4.810500e+04
133                            Dominican Republic  4.832000e+04
134                                       Estonia  4.238800e+04
135                                       Denmark  4.243400e+04
136                                   Netherlands  3.389300e+04
137                                   Switzerland  3.999700e+04
138                                        Bhutan  3.839400e+04
139                                        Taiwan  3.226000e+04
140                                 Guinea-Bissau  2.812000e+04
141                                       Moldova  3.289100e+04
142                                       Belgium  3.027800e+04
143                                       Lesotho  3.035500e+04
144                                       Armenia  2.834200e+04
145                               Solomon Islands  2.798600e+04
146                                       Albania  2.739800e+04
147                             Equatorial Guinea  2.805100e+04
148                                       Burundi  2.568000e+04
149                                         Haiti  2.756000e+04
150                                        Rwanda  2.466800e+04
151                               North Macedonia  2.543300e+04
152                                      Djibouti  2.318000e+04
153                                        Belize  2.280600e+04
154                                   El Salvador  2.072100e+04
155                                        Israel  2.033000e+04
156                                      Slovenia  2.015100e+04
157                                 New Caledonia  1.827500e+04
158                                          Fiji  1.827400e+04
159                                        Kuwait  1.781800e+04
160                                      Eswatini  1.720400e+04
161                                    East Timor  1.491900e+04
162                                       Bahamas  1.001000e+04
163                                    Montenegro  1.345200e+04
164                                       Vanuatu  1.218900e+04
165                              Falkland Islands  1.217300e+04
166                                         Qatar  1.158600e+04
167                                        Gambia  1.000000e+04
168                                       Jamaica  1.083100e+04
169                                       Lebanon  1.023000e+04
170                                        Cyprus  9.241000e+03
171                                   Puerto Rico  9.104000e+03
172                   French Southern Territories  7.668000e+03
173          United States Minor Outlying Islands  3.420000e+01
174                                     Palestine  6.000000e+03
175                                        Brunei  5.265000e+03
176                           Trinidad and Tobago  5.128000e+03
177                              French Polynesia  3.827000e+03
178                                    Cape Verde  4.033000e+03
179  South Georgia and the South Sandwich Islands  3.903000e+03
180                                       Artsakh  3.170000e+03
181                                         Samoa  2.821000e+03
182                                     Hong Kong  1.106000e+03
183                                    Luxembourg  2.586000e+03
184                                     Bir Tawil  2.060000e+03
185                                     Mauritius  2.030000e+03
186                                       Comoros  1.862000e+03
187                                 Faroe Islands  1.393000e+03
188                         São Tomé and Príncipe  9.640000e+02
189                      Turks and Caicos Islands  4.300000e+02
190                                      Kiribati  8.110000e+02
191                                       Bahrain  7.860000e+02
192                                      Dominica  7.510000e+02
193                                         Tonga  7.170000e+02
194                                     Singapore  7.160000e+02
195                                    Micronesia  7.020000e+02
196                                   Saint Lucia  6.060000e+02
197                                   Isle of Man  5.720000e+02
198                                          Guam  5.440000e+02
199                                       Andorra  4.680000e+02
200                      Northern Mariana Islands  4.640000e+02
201                                         Palau  4.590000e+02
202                                    Seychelles  4.550000e+02
203                                       Curaçao  4.440000e+02
204                           Antigua and Barbuda  4.426000e+02
205                                      Barbados  4.310000e+02
206             Heard Island and McDonald Islands  4.120000e+02
207              Saint Vincent and the Grenadines  3.890000e+02
208                                     Jan Mayen  3.770000e+02
209                           U.S. Virgin Islands  3.460000e+02
210                                       Grenada  3.440000e+02
211                                         Malta  3.160000e+02
212  Saint Helena, Ascension and Tristan da Cunha  3.080000e+02
213                                      Maldives  2.980000e+02
214                                       Bonaire  2.940000e+02
215                                Cayman Islands  2.640000e+02
216                         Saint Kitts and Nevis  2.610000e+02
217                                          Niue  2.600000e+02
218                         Akrotiri and Dhekelia           NaN
219                     Saint Pierre and Miquelon  2.420000e+02
220                                  Cook Islands  2.360000e+02
221                                American Samoa  1.990000e+02
222                              Marshall Islands  1.810000e+02
223                                         Aruba  1.800000e+02
224                                 Easter Island  1.636000e+02
225                                 Liechtenstein  1.600000e+02
226                        British Virgin Islands  1.510000e+02
227                             Wallis and Futuna  1.420000e+02
228                              Christmas Island  1.350000e+02
229                                    Montserrat  1.020000e+02
230                                      Anguilla  9.100000e+01
231                                    San Marino  6.100000e+01
232                British Indian Ocean Territory  6.000000e+01
233                                  Saint Martin  5.440000e+01
234                                       Bermuda  5.400000e+01
235                                 Bouvet Island  4.900000e+01
236                              Pitcairn Islands  4.700000e+01
237                                Norfolk Island  3.600000e+01
238                                  Sint Maarten  3.400000e+01
239                                         Macao  2.820000e+01
240                                        Tuvalu  2.600000e+01
241                                         Nauru  2.100000e+01
242                              Saint Barthélemy           NaN
243                                Sint Eustatius           NaN
244                                Cocos  Islands  1.400000e+01
245                                          Saba           NaN
246                                       Tokelau  1.200000e+01
247                                     Gibraltar  6.500000e+00
248                             Clipperton Island  2.000000e+00
249                   Ashmore and Cartier Islands  5.000000e+00
250                                        Monaco  2.020000e+00
251                                  Vatican City  4.900000e-01
252                               Channel Islands  1.940000e+02
253                                           NaN           NaN
254                                           NaN           NaN
255                                           NaN           NaN
256                                           NaN           NaN
257                                           NaN           NaN
258                                           NaN           NaN
259                                           NaN           NaN
260                                           NaN           NaN
261                                           NaN           NaN
262                                           NaN           NaN
263                                           NaN           NaN
264                                           NaN           NaN
265                                           NaN           NaN
266                                           NaN           NaN
267                                           NaN           NaN
268                                           NaN           NaN
269                                           NaN           NaN
270                                           NaN           NaN
271                                           NaN           NaN
272                                           NaN           NaN
273                                           NaN           NaN
274                                           NaN           NaN
275                                           NaN           NaN
276                                           NaN           NaN
277                                           NaN           NaN
278                                           NaN           NaN
279                                           NaN           NaN
280                                           NaN           NaN
281                                           NaN           NaN
282                                           NaN           NaN
283                                           NaN           NaN
284                                           NaN           NaN
285                                           NaN           NaN
286                                           NaN           NaN
287                                           NaN           NaN
288                                           NaN           NaN
289                                           NaN           NaN
290                                           NaN           NaN
291                                           NaN           NaN
292                                           NaN           NaN
293                                           NaN           NaN
294                                           NaN           NaN
295                                           NaN           NaN
296                                           NaN           NaN
297                                           NaN           NaN
298                                           NaN           NaN
299                                           NaN           NaN
300                                           NaN           NaN
301                                           NaN           NaN
302                                           NaN           NaN
303                                           NaN           NaN

                                          Country Name          1960  \
0                                                World  3.031565e+09
1                                               Russia  1.198970e+08
2                                                  NaN           NaN
3                                               Canada  1.790936e+07
4                                                China  6.670700e+08

In [38]:
#reorder columns so that country columns are next to each other
old_cols = list(total_df.columns)

new_cols = old_cols[:1] + old_cols[2:3] + old_cols[1:2] + old_cols[3:]
total_df = total_df[new_cols]
total_df.columns

Index(['Country', 'Country Name', 'Land in km2', '1960', '1961', '1962',
       '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
       '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980',
       '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [39]:
#print any row where either "Country" or "Country Name" is null
missing_df = total_df.loc[total_df["Country Name"].isnull() | total_df["Country"].isnull() , ["Country", "Country Name"]]
missing_df

,Country,Country Name
2,Antarctica,NaN
13,Danish Realm Kingdom of Denmark,NaN
80,Western Sahara,NaN
127,Svalbard,NaN
139,Taiwan,NaN
...,...,...
299,NaN,Middle East & North Africa (IDA & IBRD countries)
300,NaN,South Asia (IDA & IBRD)
301,NaN,Sub-Saharan Africa (IDA & IBRD countries)
302,NaN,Upper middle income
303,NaN,Kosovo

In [40]:
#test missing_df for rows that are mismatched
#modify the test_string as needed

test_string = "Kos"
missing_df.loc[missing_df["Country"].str.contains(test_string, na=False) | missing_df["Country Name"].str.contains(test_string, na=False), :]

    Country Country Name
303     NaN       Kosovo

### Inner Join Version (final)

In [41]:
#join the two datasets together via inner join
total_df = pd.merge(cs_df, p_df, left_on="Country", right_on="Country Name", how="inner")

In [42]:
total_df

,Country,Land in km2,Country Name,1960,1961,1962,1963,1964,1965,1966,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,World,1.489400e+08,World,3.031565e+09,3.072511e+09,3.126935e+09,3.193509e+09,3.260518e+09,3.328285e+09,3.398561e+09,...,7.140896e+09,7.229185e+09,7.317509e+09,7.404911e+09,7.491934e+09,7.578158e+09,7.661776e+09,7.742682e+09,7.820982e+09,7.888409e+09
1,Russia,1.637841e+07,Russia,1.198970e+08,1.212360e+08,1.225910e+08,1.239600e+08,1.253450e+08,1.267450e+08,1.274680e+08,...,1.432017e+08,1.435070e+08,1.438197e+08,1.440969e+08,1.443424e+08,1.444967e+08,1.444779e+08,1.444063e+08,1.440731e+08,1.434493e+08
2,Canada,9.093507e+06,Canada,1.790936e+07,1.827100e+07,1.861400e+07,1.896400e+07,1.932500e+07,1.967800e+07,2.004800e+07,...,3.471422e+07,3.508295e+07,3.543744e+07,3.570291e+07,3.610949e+07,3.654524e+07,3.706508e+07,3.760123e+07,3.803720e+07,3.824611e+07
3,China,9.326410e+06,China,6.670700e+08,6.603300e+08,6.657700e+08,6.823350e+08,6.983550e+08,7.151850e+08,7.354000e+08,...,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09
4,United States,9.147593e+06,United States,1.806710e+08,1.836910e+08,1.865380e+08,1.892420e+08,1.918890e+08,1.943030e+08,1.965600e+08,...,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,3.315011e+08,3.318937e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Tuvalu,2.600000e+01,Tuvalu,5.404000e+03,5.436000e+03,5.471000e+03,5.503000e+03,5.525000e+03,5.548000e+03,5.591000e+03,...,1.085400e+04,1.091800e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04
211,Nauru,2.100000e+01,Nauru,4.582000e+03,4.753000e+03,4.950000e+03,5.198000e+03,5.484000e+03,5.804000e+03,6.021000e+03,...,1.044400e+04,1.069400e+04,1.094000e+04,1.118500e+04,1.143700e+04,1.168200e+04,1.192400e+04,1.213200e+04,1.231500e+04,1.251100e+04
212,Gibraltar,6.500000e+00,Gibraltar,2.182200e+04,2.190700e+04,2.224900e+04,2.279600e+04,2.334700e+04,2.391000e+04,2.447700e+04,...,3.216000e+04,3.241100e+04,3.245200e+04,3.252000e+04,3.256500e+04,3.260200e+04,3.264800e+04,3.268500e+04,3.270900e+04,3.266900e+04
213,Monaco,2.020000e+00,Monaco,2.179700e+04,2.190700e+04,2.210600e+04,2.244200e+04,2.276600e+04,2.302200e+04,2.319800e+04,...,3.470000e+04,3.542500e+04,3.611000e+04,3.676000e+04,3.707100e+04,3.704400e+04,3.702900e+04,3.703400e+04,3.692200e+04,3.668600e+04
214,Channel Islands,1.940000e+02,Channel Islands,1.091860e+05,1.102250e+05,1.112810e+05,1.124100e+05,1.135960e+05,1.148320e+05,1.161160e+05,...,1.586210e+05,1.597940e+05,1.609120e+05,1.621900e+05,1.637210e+05,1.652150e+05,1.672590e+05,1.694100e+05,1.711130e+05,1.726830e+05

## Clean Joined DataFrame

### Drop Unnecessary Columns/Rows, Reset Index

In [43]:
# drop world from the dataset
total_df.drop(0, inplace=True)
#reset index
total_df.reset_index(drop=True, inplace=True)

#drop duplicate country name column
total_df.drop(columns="Country Name", inplace=True)

total_df

,Country,Land in km2,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Russia,16378410.00,119897000.0,121236000.0,122591000.0,123960000.0,125345000.0,126745000.0,127468000.0,128196000.0,...,1.432017e+08,1.435070e+08,1.438197e+08,1.440969e+08,1.443424e+08,1.444967e+08,1.444779e+08,1.444063e+08,1.440731e+08,1.434493e+08
1,Canada,9093507.00,17909356.0,18271000.0,18614000.0,18964000.0,19325000.0,19678000.0,20048000.0,20412000.0,...,3.471422e+07,3.508295e+07,3.543744e+07,3.570291e+07,3.610949e+07,3.654524e+07,3.706508e+07,3.760123e+07,3.803720e+07,3.824611e+07
2,China,9326410.00,667070000.0,660330000.0,665770000.0,682335000.0,698355000.0,715185000.0,735400000.0,754550000.0,...,1.354190e+09,1.363240e+09,1.371860e+09,1.379860e+09,1.387790e+09,1.396215e+09,1.402760e+09,1.407745e+09,1.411100e+09,1.412360e+09
3,United States,9147593.00,180671000.0,183691000.0,186538000.0,189242000.0,191889000.0,194303000.0,196560000.0,198712000.0,...,3.138777e+08,3.160599e+08,3.183863e+08,3.207390e+08,3.230718e+08,3.251221e+08,3.268382e+08,3.283300e+08,3.315011e+08,3.318937e+08
4,Brazil,8460415.00,73092515.0,75330008.0,77599218.0,79915555.0,82262794.0,84623747.0,86979283.0,89323288.0,...,1.999777e+08,2.017218e+08,2.034596e+08,2.051882e+08,2.068596e+08,2.085050e+08,2.101666e+08,2.117829e+08,2.131963e+08,2.143262e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Tuvalu,26.00,5404.0,5436.0,5471.0,5503.0,5525.0,5548.0,5591.0,5657.0,...,1.085400e+04,1.091800e+04,1.089900e+04,1.087700e+04,1.085200e+04,1.082800e+04,1.086500e+04,1.095600e+04,1.106900e+04,1.120400e+04
210,Nauru,21.00,4582.0,4753.0,4950.0,5198.0,5484.0,5804.0,6021.0,6114.0,...,1.044400e+04,1.069400e+04,1.094000e+04,1.118500e+04,1.143700e+04,1.168200e+04,1.192400e+04,1.213200e+04,1.231500e+04,1.251100e+04
211,Gibraltar,6.50,21822.0,21907.0,22249.0,22796.0,23347.0,23910.0,24477.0,25047.0,...,3.216000e+04,3.241100e+04,3.245200e+04,3.252000e+04,3.256500e+04,3.260200e+04,3.264800e+04,3.268500e+04,3.270900e+04,3.266900e+04
212,Monaco,2.02,21797.0,21907.0,22106.0,22442.0,22766.0,23022.0,23198.0,23281.0,...,3.470000e+04,3.542500e+04,3.611000e+04,3.676000e+04,3.707100e+04,3.704400e+04,3.702900e+04,3.703400e+04,3.692200e+04,3.668600e+04
213,Channel Islands,194.00,109186.0,110225.0,111281.0,112410.0,113596.0,114832.0,116116.0,117430.0,...,1.586210e+05,1.597940e+05,1.609120e+05,1.621900e+05,1.637210e+05,1.652150e+05,1.672590e+05,1.694100e+05,1.711130e+05,1.726830e+05

### Unpivot Year Data

In [44]:
#save columns to list to make easy column referencing easy
cols = list(total_df.columns)

index = 0 

#print columns with corresponding index
for col in cols: 
    print(col, index)
    index+=1

Country 0
Land in km2 1
1960 2
1961 3
1962 4
1963 5
1964 6
1965 7
1966 8
1967 9
1968 10
1969 11
1970 12
1971 13
1972 14
1973 15
1974 16
1975 17
1976 18
1977 19
1978 20
1979 21
1980 22
1981 23
1982 24
1983 25
1984 26
1985 27
1986 28
1987 29
1988 30
1989 31
1990 32
1991 33
1992 34
1993 35
1994 36
1995 37
1996 38
1997 39
1998 40
1999 41
2000 42
2001 43
2002 44
2003 45
2004 46
2005 47
2006 48
2007 49
2008 50
2009 51
2010 52
2011 53
2012 54
2013 55
2014 56
2015 57
2016 58
2017 59
2018 60
2019 61
2020 62
2021 63

In [45]:
#unpivot data so that year is consolidated
total_df = pd.melt(total_df, id_vars=cols[:2], value_vars=cols[2:], var_name="year", value_name="population")

In [46]:
#view year unpivot changes
total_df

               Country  Land in km2  year   population
0               Russia  16378410.00  1960  119897000.0
1               Canada   9093507.00  1960   17909356.0
2                China   9326410.00  1960  667070000.0
3        United States   9147593.00  1960  180671000.0
4               Brazil   8460415.00  1960   73092515.0
...                ...          ...   ...          ...
13263           Tuvalu        26.00  2021      11204.0
13264            Nauru        21.00  2021      12511.0
13265        Gibraltar         6.50  2021      32669.0
13266           Monaco         2.02  2021      36686.0
13267  Channel Islands       194.00  2021     172683.0

[13268 rows x 4 columns]

### Change Data Type of "Year" Column

In [47]:
total_df["year"] = total_df["year"].astype(int)

In [48]:
total_df.dtypes

Country         object
Land in km2    float64
year             int32
population     float64
dtype: object

## Obtain Final Outputs 

## (Highest Pop Density [2021], Highest Pop Density Change [2000-2021])

In [49]:
#filter out all years besides 2000 and 2021 
years = [2000, 2021]

total_df = total_df[total_df["year"].isin(years)]
total_df

               Country  Land in km2  year    population
8560            Russia  16378410.00  2000  1.465969e+08
8561            Canada   9093507.00  2000  3.068573e+07
8562             China   9326410.00  2000  1.262645e+09
8563     United States   9147593.00  2000  2.821624e+08
8564            Brazil   8460415.00  2000  1.758737e+08
...                ...          ...   ...           ...
13263           Tuvalu        26.00  2021  1.120400e+04
13264            Nauru        21.00  2021  1.251100e+04
13265        Gibraltar         6.50  2021  3.266900e+04
13266           Monaco         2.02  2021  3.668600e+04
13267  Channel Islands       194.00  2021  1.726830e+05

[428 rows x 4 columns]

In [50]:
#create list of columns for easy referencing in pivoting code
cols = list(total_df.columns)
cols

['Country', 'Land in km2', 'year', 'population']

In [51]:
#pivot data to compare years 2000 and 2021

total_df = total_df.pivot(index=cols[:2], columns=cols[2:3], values=cols[3:])
total_df

                            population
year                              2000        2021
Country        Land in km2
Afghanistan    652867.0     19542982.0  40099462.0
Albania        27398.0       3089027.0   2811666.0
Algeria        2381741.0    30774621.0  44177969.0
American Samoa 199.0           58230.0     45035.0
Andorra        468.0           66097.0     79034.0
...                                ...         ...
Venezuela      882050.0     24427729.0  28199867.0
Vietnam        310070.0     79001142.0  97468029.0
Yemen          555000.0     18628700.0  32981641.0
Zambia         743398.0      9891136.0  19473125.0
Zimbabwe       386847.0     11834676.0  15993524.0

[214 rows x 2 columns]

### Reset Index, Delete Multi Index

In [52]:
total_df.reset_index(inplace=True)
total_df

             Country Land in km2  population
year                                    2000        2021
0        Afghanistan    652867.0  19542982.0  40099462.0
1            Albania     27398.0   3089027.0   2811666.0
2            Algeria   2381741.0  30774621.0  44177969.0
3     American Samoa       199.0     58230.0     45035.0
4            Andorra       468.0     66097.0     79034.0
..               ...         ...         ...         ...
209        Venezuela    882050.0  24427729.0  28199867.0
210          Vietnam    310070.0  79001142.0  97468029.0
211            Yemen    555000.0  18628700.0  32981641.0
212           Zambia    743398.0   9891136.0  19473125.0
213         Zimbabwe    386847.0  11834676.0  15993524.0

[214 rows x 4 columns]

In [53]:
#get rid of multiindex 

cols = list(total_df.columns)
cols

[('Country', ''),
 ('Land in km2', ''),
 ('population', 2000),
 ('population', 2021)]

In [54]:
#create new index based on old index
new_cols = [cols[0][0], cols[1][0], str(cols[2][1]), str(cols[3][1])] 
new_cols

['Country', 'Land in km2', '2000', '2021']

In [55]:
# overwrite column labels 
total_df.columns = new_cols

total_df.head(10)

               Country  Land in km2        2000        2021
0          Afghanistan     652867.0  19542982.0  40099462.0
1              Albania      27398.0   3089027.0   2811666.0
2              Algeria    2381741.0  30774621.0  44177969.0
3       American Samoa        199.0     58230.0     45035.0
4              Andorra        468.0     66097.0     79034.0
5               Angola    1246700.0  16394062.0  34503774.0
6  Antigua and Barbuda        442.6     75055.0     93219.0
7            Argentina    2736690.0  37070774.0  45808747.0
8              Armenia      28342.0   3168523.0   2790974.0
9                Aruba        180.0     89101.0    106537.0

### Calculate Population Density 2000, 2021

In [56]:
#calculate population density for 2000 and 2021
total_df["Population Density 2000 (People/km2)"] = total_df["2000"]/total_df["Land in km2"]
total_df["Population Density 2021 (People/km2)"] = total_df["2021"]/total_df["Land in km2"]

In [57]:
total_df

,Country,Land in km2,2000,2021,Population Density 2000 (People/km2),Population Density 2021 (People/km2)
0,Afghanistan,652867.0,19542982.0,40099462.0,29.934094,61.420568
1,Albania,27398.0,3089027.0,2811666.0,112.746441,102.623038
2,Algeria,2381741.0,30774621.0,44177969.0,12.921061,18.548603
3,American Samoa,199.0,58230.0,45035.0,292.613065,226.306533
4,Andorra,468.0,66097.0,79034.0,141.232906,168.876068
...,...,...,...,...,...,...
209,Venezuela,882050.0,24427729.0,28199867.0,27.694268,31.970826
210,Vietnam,310070.0,79001142.0,97468029.0,254.784861,314.342016
211,Yemen,555000.0,18628700.0,32981641.0,33.565225,59.426380
212,Zambia,743398.0,9891136.0,19473125.0,13.305303,26.194750
213,Zimbabwe,386847.0,11834676.0,15993524.0,30.592653,41.343280

### Calculate Population Density Change

In [58]:
#create list of columns for easy referencing in population density change calculations
cols = list(total_df.columns)
cols

['Country',
 'Land in km2',
 '2000',
 '2021',
 'Population Density 2000 (People/km2)',
 'Population Density 2021 (People/km2)']

### Calculate % Change in Population Density

In [59]:
#calculate % change in population density 
total_df["% Change in Population Density"] = (total_df[cols[-1]]-total_df[cols[-2]])/total_df[cols[-2]]

### Create Rank Columns by "% Change in Population Density" and "Population Density 2021"

In [60]:
# rank countries by population density % change 2000-2021
# use min to still have one of each number even in the event of ties
total_df["Rank % Change"] = total_df["% Change in Population Density"].rank(method="min", ascending=False)

# rank countries by population density in 2021
# use min to still have one of each number even in the event of ties
total_df["Rank Population Density 2021"] = total_df["Population Density 2021 (People/km2)"].rank(method="min", ascending=False)

### Export Output Data

In [61]:
#view column names
total_df.columns

Index(['Country', 'Land in km2', '2000', '2021',
       'Population Density 2000 (People/km2)',
       'Population Density 2021 (People/km2)',
       '% Change in Population Density', 'Rank % Change',
       'Rank Population Density 2021'],
      dtype='object')

In [62]:
#top 10 ranking countries for population density
top10popdensity2021 = total_df.loc[total_df["Rank Population Density 2021"] <= 10, ["Country", "Population Density 2021 (People/km2)", "Rank Population Density 2021"]].sort_values(by="Rank Population Density 2021")
top10popdensity2021

,Country,Population Density 2021 (People/km2),Rank Population Density 2021
115,Macao,24347.765957,1.0
128,Monaco,18161.386139,2.0
173,Singapore,7616.712291,3.0
86,Hong Kong,6702.622061,4.0
75,Gibraltar,5026.000000,5.0
14,Bahrain,1861.660305,6.0
119,Maldives,1749.855705,7.0
121,Malta,1640.936709,8.0
15,Bangladesh,1261.893859,9.0
174,Sint Maarten,1260.176471,10.0

In [63]:
#save file path variables for easy editing

output_folderpath = r"C:\Work\Projects\Python Projects\Preppin Data\2023 Week 17_Population Growth vs Country Size\Outputs".replace("\\", "/")
output_file = "Top10_popdensity2021.xlsx"
output_filepath = output_folderpath + "/" + output_file

output_filepath

'C:/Work/Projects/Python Projects/Preppin Data/2023 Week 17_Population Growth vs Country Size/Outputs/Top10_popdensity2021.xlsx'

In [64]:
#output file
top10popdensity2021.to_excel(output_filepath, sheet_name="Top10_popdensity2021", header=True, index=False)

In [65]:
#top 10 ranking countries for change in population density 2000-2021
top10popdensitypercentchange20002021 = total_df.loc[total_df["Rank % Change"] <= 10, ["Country", "Population Density 2000 (People/km2)", "Population Density 2021 (People/km2)", "% Change in Population Density", "Rank % Change"]].sort_values(by="Rank % Change")
top10popdensitypercentchange20002021

,Country,Population Density 2000 (People/km2),Population Density 2021 (People/km2),% Change in Population Density,Rank % Change
158,Qatar,55.751510,232.024426,3.161760,1.0
203,United Arab Emirates,39.178624,112.023266,1.859296,2.0
198,Turks and Caicos Islands,43.590698,104.916279,1.406850,3.0
60,Equatorial Guinea,24.418987,58.267655,1.386162,4.0
100,Jordan,56.937614,125.540844,1.204884,5.0
104,Kuwait,108.592491,238.529240,1.196554,6.0
141,Niger,9.175547,19.935835,1.172714,7.0
5,Angola,13.149966,27.676084,1.104651,8.0
38,Chad,6.559035,13.643377,1.080089,9.0
14,Bahrain,905.142494,1861.660305,1.056759,10.0

In [66]:
#save file paths for easy editing

output_file = "Top10_popdensity_percentchange.xlsx"
output_filepath = output_folderpath + "/" + output_file

output_filepath

'C:/Work/Projects/Python Projects/Preppin Data/2023 Week 17_Population Growth vs Country Size/Outputs/Top10_popdensity_percentchange.xlsx'

In [67]:
#output file
top10popdensity2021.to_excel(output_filepath, sheet_name="Top10_popdensity_percentchange", header=True, index=False)